.sideber
  .sideber-user
    .sideber-user-name
      .contents-user
        .p masa
      .contents-icon
        <i class='far fa-edit'></i>
        <i class="fas fa-cog"></i>
  .sideber-list
    .group-name
      .p techcamp
    .group-message
      .p メッセージがありません

