.sideber
  .sideber__user
    .sideber__name
      .contents-user
        .p masa
      .contents-icon
        <i class='far fa-edit'></i>
        <i class="fas fa-cog"></i>
  .sideber__list
    .group-name
      .p techcamp
    .group-message
      .p メッセージがありません

