* {
  box-sizing: border-box;
}

.wrapper {
  display:flex;
}

.sideber {
  background-color: #2f3e51;
  height: 100vh;
  width: 300px;
  &__user {
    height: 100px;
    background-color: #253141;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &__name {
    height: 20px;
    width: 260px;
    display: flex;
    justify-content: space-between;
    color: #ffffff;
    .contents-user {
      font-size: 16px;
    }
    .contents-icon {
      font-size: 13px;
      text-align: right;
    }
  }
  &__list {
    color: #ffffff;
    font-size:  15px;
    .group-name {
      margin: 20px 20px 5px 20px;
    }
    .group-message {
      margin: 0 20px;
    }
  }
}
  
.chat {
  background-color: #ffffff;
  height: 100vh;
  width: calc(100vw - 300px);
}

.header {
  height: 100px;
  border-bottom: 1px solid #eeeeee;
  background-color: #ffffff;
  display: flex;
  justify-content: space-between;
  &__title {
    font-size: 20px;
    color: #333333;
    margin: 35px 0 15px 40px;
  }
  &__member {
    font-size: 12px;
    color: #999999;
    margin-left: 40px;
  }
}
.header-btn {
  font-size: 16px;
  border: 1px solid #38aef0;
  color: #38aef0;
  margin: 28px 40px;
  padding: 10px 20px;
  &__editbtn{
    color: #38aef0;
    text-decoration: none;
  }
}

.messeage {
  background-color: #fafafa;
  height: calc(100vh - 100px - 90px);
  width: calc(100vw - 300px);
  padding: 35px 40px 0;
  &__list {
    display: flex;
    &__name {
      font-size: 16px;
      color: #333333;
    }
  }
  &__date {
    font-size: 12px;
    color: #999999;
    margin-left: 8px;
  }
    &__chat {
      font-size: 12px;
      margin-top: 12px;
    }
}

.form {
  height: 90px;
  background-color: #d2d2d2;
  display: flex;
  justify-content: space-between;
  .tweet-form{
    width: 100%;
    margin: 20px 30px;
    position: relative;
    display: flex;
    justify-content: space-between;
    &__comment {
      height: 50px;
      width: 100%;
      color: #434a54;
      border: none;
      padding: 0 40px 0 10px;
    }
    &__image-btn {
      position: absolute;
      top: 10px;
      width: 10px;
      right: 20px;
      .icon {
        display: none;
      }
    }
  }
  .send-btn {
    padding: 0 30px;
    height: 50px;
    margin: 20px 40px 0 0;
    font-size: 16px;
    line-height: 50px;
    background-color: #38aef0;
    color: #ffffff;
  }
}
